<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Přihlášení do aplikace</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="{{ url_for('home') }}">
	<img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="165" height="100">
	<h1 class="h3 mb-3 font-weight-normal">Prosím, přihlašte se</h1>
	<label for="inputEmail" class="sr-only">Emailová adresa</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Emailová adresa" required autofocus>
	<label for="inputPassword" class="sr-only">Heslo</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Heslo" required>
	<div class="checkbox mb-3">
		<label>
			<input type="checkbox" value="remember-me"> Zapamatovat mé přihlášení
		</label>
	</div>
	<!--<button class="btn btn-lg btn-warning btn-block" type="submit">Přihlásit se</button>-->
	<a class="btn btn-lg btn-warning btn-block" href="{{ url_for('home') }}">Přihlásit se</a>
	<p class="mt-5 mb-3 text-muted">PVS &copy; 2018-2019</p>
</form>
</body>
</html>
